
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 0; padding: 0;
	font-family: 'Poppins', sans-serif;
}
body{
	position: relative; width: 100vw; height: 100vh;
	overflow: hidden;/* stop scroll*/
}
h2{
display: flex;
font-size: 4em;
font-weight: 100;
color:black;
justify-self: center;
}
#map{width: 100%; height: 100%;}
/*.mapboxgl-canvas{width: 100px;}*/
.info_box{
	display: grid;
	position: absolute;
	z-index: 2;
	padding: 2.5em;
	box-shadow: 1em 1em 7em #333;
	border-radius: 2%;
	font-size: .85em;
	color:#DBDFE1;
	width: 16em;
	}
.info_box ul{
		display: grid;
		grid-template-columns: 50% 50%;
		width:16em;
		}
#stream{
	display: grid;
	position: absolute;
	top: 20px;
	right: 100px;
	border-radius: 2%;
	width: 350px; height: 450px;
	z-index: 4;
	background-color: #DBDFF1;
}	
#Statiscs{
	background-color: white;
	grid-template-rows: 20% 50% 30%;
	top: 40px; left: 12px;
	height: 23em;
}
 .value{
	display: grid;
	color: black;
	justify-self: center;
	border: none;
	font-size: .8em;
	text-emphasis-style: none;
	padding-bottom: 0.8em;
}
li::marker{color: #74d474;}
#analysis{
	background-color: #8676ff;
	bottom: 11px;  left: 12px;
}
#analysis li{
   display: inline;
    border-bottom: solid #383874 .12em;
    margin-bottom: .6em;
}
#analysis.value{
	color: #ffff;
	font-size: 1em;
}
#analysis > li:last-child{border-bottom: none;}
#floating-bars-chart{
	position: relative;
	height: 8em;
	width: 15em; 
}
#controls{
	position: absolute;
	display: flex;
	right: 70px; 
	bottom: 70px;
	width: 220px;
	height: 220px;
/*background: rgb(219,223,241);
background: radial-gradient(circle, rgba(219,223,241,1) 0%, rgba(219,223,241,1) 48%, rgba(255,255,255,1) 48%);
	box-shadow: 1px 1px 7px #bbb; 
*/
	border-radius: 50%;
	justify-content: center;
	align-items: center; 

}
.button{
	position: absolute;
	border-radius: 50%;
	background: #ffff;
	box-shadow: 1px 1px 5px #bbb; 
	z-index: 5;
}
.button.connect{
	border: solid 4px #FFBA69;
	width: 70px;
	height: 70px;
	top: -24px;
	left: 123px;
}
.button.dive{
	border: solid 4px #8676ff;
	width: 50px;
	height: 50px;
	top: 15px;
	left: 189px;
}
.button.rotate{
	border: solid 4px #383874;
	width: 70px;
	height: 70px;
	top: 70px;
	left: 175px;
}