<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>intellcapBot</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.9.0/nipplejs.min.js"></script>
<link rel="stylesheet" href="style.css">
 <script src="/socket.io/socket.io.js"></script>
</head>
<body>
		<div id="map"></div>
		<div id="joystick"></div>
		<div class="moving_box" id="Statiscs">
			<h2>Statiscs</h2>
			<div id="floating-bars-chart">
				<canvas id="myChart" width="190" height="100"></canvas>
			</div>
			<ul>
					<li>Battery<P> 90%</P></li>
					<li>Ph <P class="ph"> 7</P></li>
					<li>Pressure<P class="pressure"> 5Ba</P></li>
					<li>Temperature<P class="temperature"> 22°c</P></li>
			</ul>
		</div>
		<div class="moving_box" id="analysis">
          Species <br> identified:
					<p class="specieIdentified">CARAPAU</p>
					Quantity:
          <p>7</p>
					Latitude:
          <p>3600000</p>
					Longetude:
          <p>620000</p>
		</div>
		<div id="controls">
			<svg version="1.1" id="dashed-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 		width="200px" height="200px" viewBox="0 0 165 165" enable-background="new 0 0 165 165" xml:space="preserve">
			<g>
	
  		<circle fill="none" stroke="#DBDFF1" stroke-width="16" stroke-miterlimit="23" stroke-dasharray="1.048,6.0288" cx="82.453" cy="82.563" r="75"/>
			</g>
		</svg>
			<button class="button connect">OFF</button>
			<button class="button dive">DIVE</button>
			<button class="button rotate">ROTATE</button>
		</div>
		<img alt="image stream" class="moving_box" id="stream" draggable="false">
<script src="mapbox.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="littlesCharts.js"></script>
<script src="bot_controls.js"></script>
</body>
</html>