<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>intellcapBot</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.9.0/nipplejs.min.js"></script>
<link rel="stylesheet" href="style.css">
 <script src="/socket.io/socket.io.js"></script>
</head>
<body>
		<div id="map"></div>
		<div id="joystick"></div>
		<aside>
			<div class="info_box" id="Statiscs">
				<h2>Statiscs</h2>
				<div id="floating-bars-chart">
				<canvas id="myChart" width="190" height="100"></canvas>
				</div>
				<ul >
					<li>Battery</li>
					<li class="value"> 80%</li>
					<li>Ph</li>
					<li class="value ph">7</li>
					<li>Pressure</li>
					<li class="value pressure"> 5Ba</li>
					<li>Temperature</li>
					<li class="value temperature"> 22°c</li>
				</ul>
			</div>
			<ul class="info_box" id="analysis">
				<li>Species 
					<br> identified:
				<p class="value specieIdentified">CARAPAU</p></li>
				<li>Quantity:
					<p class="value">7</p></li>
				<li>Latitude:
					<p class="value">3600000</p></li>
				<li>Longetude:
					<p class="value">620000</p></li>
			</ul>
		</aside>
		<div id="controls">
			<!--svg version="1.1" id="dashed-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 		width="200px" height="200px" viewBox="0 0 165 165" enable-background="new 0 0 165 165" xml:space="preserve">
			<g>
	
  		<circle fill="none" stroke="#DBDFF1" stroke-width="16" stroke-miterlimit="23" stroke-dasharray="1.048,6.0288" cx="82.453" cy="82.563" r="75"/>
			</g>
		</svg-->
			<button class="button connect">ON</button>
			<button class="button dive">DIVE</button>
			<button class="button rotate">ROTATE</button>
		</div>
		<img alt="image stream" class="moving_box" id="stream" draggable="false">
<script src="mapbox.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="littlesCharts.js"></script>
<script src="bot_controls.js"></script>
</body>
</html>